<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http use-expressions = "true" auto-config = "true">
        <security:intercept-url pattern="/login"
                                access="permitAll"/>

        <security:intercept-url pattern="/accessdenied"
                                access="permitAll" />

        <security:intercept-url pattern="/user_signUp"
                                access="permitAll" />

        <security:intercept-url pattern="/**"
                                access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"/>

        <security:form-login login-page="/login"
                             always-use-default-target="true" default-target-url="/home"
                             authentication-failure-url="/accessDenied"/>

        <security:csrf disabled="true"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="customUserServiceImpl"/>
    </security:authentication-manager>

</beans>